@using blazor
<div>
    <h3>Clock</h3>

    <div class="clock">
        <div class="clock-hand-separator"></div>
        <div
            class="minute-face clock-circular-face@(hideAnimations ? " no-transition" : "")"
            style="transform: rotate(@curSecondRotation)">
            <ul>
                @for (var i = 1; i <= 12; i++)
                {
                    var elementText = i * 5;
                    <li>@elementText.ToString("D2")</li>
                }
            </ul>
        </div>
        <div class="hour-face block-clock-face@(hideAnimations ? " no-transition" : "")"
             style="transform: rotate(@curMinuteRotation)">
            <div></div></div>
        @* <div class="hour-face circular-clock-face@(hideAnimations ? " no-transition" : "")" *@
        @*      style="transform: rotate(@curHourRotation)"></div> *@
    </div>
</div>



@code {
    
    Timer updateTimer;
    
    bool hideAnimations;

    string curSecondRotation = "0deg";
    string curMinuteRotation = "0deg";
    string curHourRotation = "0deg";
    
    DateTime initTime = DateTime.Now;

    ClockFaceRotationValue secondsRotationManager = ClockRotationFactory.BuildSecondsRotationManagerFromNow();
    ClockFaceRotationValue minutesRotationManager = ClockRotationFactory.BuildMinutesRotationManagerFromNow();
    ClockFaceRotationValue hoursRotationManager = ClockRotationFactory.BuildHoursRotationManagerFromNow();

    private void UpdateAbsoluteClockRotation()
    {
        var curTime = DateTime.Now;

        curSecondRotation = secondsRotationManager.GetCurrentCssValue();
        curMinuteRotation = minutesRotationManager.GetCurrentCssValue();
        curHourRotation = hoursRotationManager.GetCurrentCssValue();
    }
    
    private (string, int) GetUpdatedSecondSpinnerValues(int currentUnit, int oldUnit, int fullRotationCount)
    {
        return GetUpdatedClockSpinnerValues(currentUnit, oldUnit, fullRotationCount, 60);
    }
    private (string, int) GetUpdatedMinuteSpinnerValues(int currentUnit, int oldUnit, int fullRotationCount)
    {
        return GetUpdatedClockSpinnerValues(currentUnit, oldUnit, fullRotationCount, 3600);
    }
    private (string, int) GetUpdatedHourSpinnerValues(int currentUnit, int oldUnit, int fullRotationCount)
    {
        return GetUpdatedClockSpinnerValues(currentUnit, oldUnit, fullRotationCount, 86400);
    }

    private (string, int) GetUpdatedClockSpinnerValues(int currentUnit, int oldUnit, int fullRotationCount, int maxUnits)
    {
        var updatedFullRotationCount = fullRotationCount;
        if (currentUnit - oldUnit == (maxUnits - 1) * -1)
        {
            updatedFullRotationCount++;
        }
        
        var newSpinnerValue = GetRotationValueFromUnit(currentUnit + updatedFullRotationCount * maxUnits, maxUnits);
        
        return (newSpinnerValue, updatedFullRotationCount);
    }

    private string GetRotationValueFromUnit(float unit, int unitsInRotation)
    {
        var degreeValue = unit * (360f  /  unitsInRotation);
        return $"{degreeValue}deg";
    }

    protected override void OnInitialized()
    {
        hideAnimations = true;
        Tick(this);
        StateHasChanged();
        hideAnimations = false;
        updateTimer = new Timer(Tick, null, 0, 1000);        
    }

    private void Tick(object _)
    {
        UpdateAbsoluteClockRotation();
        // UpdateClockRotation();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        updateTimer?.Dispose();
    }
}