//:root {
//  --minute-rotation: 0deg;
//}


ul {
  list-style: none;
}

.clock {
  aspect-ratio: 1;
  width: 50%;
  background-color: gray;
} 

@mixin clock-hand {
  transition: all 0.066s cubic-bezier(0.25,0.10,0.36,1.65);
}

.no-transition {
  transition: none !important;
}

.clock-minute-face {
    @include clock-hand;
  
    aspect-ratio: 1;
    width: 20%;
    border-radius: 100%;
    background-color: black;
    background-image: conic-gradient(black, white);
    //transform: rotate(0deg);
}


.clock-minute-face ul {
  text-align: center;
}

$number-width: 7.5%;

.clock-minute-face ul li {
  display: block;
  position: absolute;
  width: $number-width;
}

@for $i from 1 through 12 {
  .clock-minute-face ul li:nth-child(#{$i}){
    
    @if($i % 3 == 0) {
      color: blue;
      font-size: 13px;
    } @else {
      color:red;
      font-size: 10px;
    }
    
    bottom: calc(((
                cos(pi / 6 * (#{$i})) * 45%) 
                + (50% - 0.5em)));
    left: calc(((
                sin(pi / 6 * (#{$i})) * 45%) 
                + (50% - (#{$number-width} / 2))));

    transform: rotate(calc((calc(360deg / 12) * #{$i} - 1deg) + 180deg));

  }
}