@page "/"
@using blazor_webassembly_learning.Components.Clock
<PageTitle>Blazor WebAssembly App</PageTitle>

<h1>What's the time?</h1>
<Clock></Clock>
@* <p> *@
@*     The time is @currentTime *@
@* </p> *@

@code
{
    
}
